aiohttp==3.8.1
brotli==1.0.9
chardet==4.0.0
colorama==0.4.4
cryptography==36.0.0
Cython==0.29.25
dl==0.1.0
importlib_metadata==4.8.2
ipaddr==2.2.0
ipython==7.30.1
jnius==1.1.0
keyring==23.4.0
mock==4.0.3
numpy==1.21.4
ordereddict==1.1
protobuf==3.19.1
pyOpenSSL==21.0.0
simplejson==3.17.6
tokenize_rt==4.2.1
typed_ast==1.5.1
unicodedata2==13.0.0.post2
uvloop==0.16.0
wincertstore==0.2.1
